---
import { changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";
import Logos from "@components/logos.astro";
import Faq from "@components/faq.astro";

changeLanguage("cn");

const pricingData = [
	{
		name: "个人",
		price: "免费",
		popular: false,
		features: ["免费咨询", "资金建议", "创意深度挖掘"],
		button: {
			text: "立刻开始",
		},
	},
	{
		name: "初创公司",
		price: {
			monthly: "定制",
			annual: "$16",
			discount: "10%",
			original: "$24",
		},
		popular: true,
		features: ["快速原型设计", "全栈开发", "深度技术集成", "功能迭代", "咨询服务", "增长自动化"],
		button: {
			text: "联系我们",
		},
	},
	{
		name: "企业",
		price: "定制",
		popular: false,
		features: ["包含创业中的所有服务", "深度技术采用", "搜索引擎优化", "付费广告", "机器人自动化", "定制解决方案"],
		button: {
			text: "联系我们",
		},
	},
];
---

<Layout title="价格">
	<Container>
		<Sectionhead>
			<Fragment slot="title">价格</Fragment>
			<Fragment slot="desc">诚心如泉水， 长情伴客身。</Fragment>
		</Sectionhead>

		<div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-20">
			{pricingData.map((item) => <Pricing plan={item} />)}
		</div>
		{/* <Logos /> */}
		{/* <Faq /> */}
	</Container>
</Layout>
